<ion-view hide-nav-bar="true">
  <ion-pane class="gamecard">
    <div class="row">
      <div class="gamecard card-position">
        <div class="card">
          <div class="item item-text-wrap question animateIf" ng-style="giveQuesStyle()" ng-if="howmuch >0">
                {{giveMeQuestion(cards[selected].text)}}
          </div>
        </div>
      </div>
    </div>
    <swipe-cards on-card-swipe="onSwipe($event)">
      <swipe-card class="animateIf" ng-click="cardSwiped()" id="start-card" ng-show="!clickedFirst && howmuch >0">
        Haz click y contesta 5 preguntas de {{categories[category].description}}
      </swipe-card>
      <swipe-card class="animateIf" ng-repeat="card in cards" on-card-swipe="cardDestroyed($index)" ng-if="selected == $index && howmuch>0">
        <div style="height: 100%;">
          <div class="image image-question" style="background:url('img/texture.png') no-repeat; background-size: cover">
            <img ng-src="img/maccabi.png" ng-if="didntAnswer" ng-style="giveMeStyle()">
            <img ng-src="img/questions/{{cards[selected].key}}.jpg" ng-style="giveMeStyle()" ng-if="!didntAnswer">
          </div>
          <div class="buttons-questions">
            <button  ng-repeat="answer in card.answers" id="answer-{{$index}}-{{card.key}}" class="button" ng-class="{'button-dark text-black': concatHelp($index, selected),'button-stable': didntAnswer, 'button-balanced': !didntAnswer && $index==card.correct, 'button-assertive': !didntAnswer && $index!=card.correct && $index==reply}" ng-click="reply=$index;goAway(false, card, reply,false , card.key);">{{answer}}
              <span id="help-{{$index}}-{{card.key}}"></span>
            </button>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>
    <div class="progress-pie-chart" data-start-time="100" data-percent="100" ng-show="gameStarted && howmuch >0">
      <div class="ppc-progress">
        <div class="ppc-progress-fill"></div>
      </div>
    </div>
    <br>
    <div class="row animateIf" ng-show="clickedFirst">
      <div class="card-help">
        <button class="button button-royal" ng-click="ayuda()" ng-disabled="user.ayuda">Pedir ayuda</button>
        <button class="button button-royal" ng-click="companeros()" ng-disabled="user.companeros">Consultar a los compañeros</button>
        <!--<button class="button button-royal">Denunciar pregunta</button>-->
      </div>
    </div>
  </ion-pane>

</ion-view>
