<ion-view hide-nav-bar="true">
  <ion-pane>
    <div class="row">
      <div class="card-position">
        <div class="card">
          <div class="item item-text-wrap question">
            {{cards[selected].text}}
          </div>
        </div>
      </div>
    </div>
    <swipe-cards on-card-swipe="onSwipe($event)">
      <swipe-card on-card-swipe="cardSwiped()" id="start-card" on-destroy="initCounter($index)">
        Desliza hacia abajo para empezar!
      </swipe-card>
      <swipe-card ng-repeat="card in cards" on-card-swipe="cardDestroyed($index)" ng-if="selected == $index">
        <div style="height: 100%;">
          <div class="image image-question">
            <img ng-src="img/questions/{{cards[selected].key}}.jpg" ng-style="giveMeStyle()">
          </div>
          <div class="buttons-questions">
            <button ng-repeat="answer in card.answers"  class="button" ng-class="{'button-stable': didntAnswer, 'button-balanced': !didntAnswer && $index==card.correct, 'button-assertive': !didntAnswer && $index!=card.correct && $index==reply}" ng-click="reply=$index;goAway(false, false, $index, card.correct);">{{answer}}</button>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>
    <div class="progress-pie-chart" data-start-time="100" data-percent="100" ng-show="gameStarted">
      <div class="ppc-progress">
        <div class="ppc-progress-fill"></div>
      </div>
    </div>
    <div class="row">
      <div class="card-help">
        <button class="button button-royal">Pedir ayuda</button>
        <button class="button button-royal">Consultar a los compañeros</button>
        <button class="button button-royal">Denunciar pregunta</button>
      </div>
    </div>
  </ion-pane>

</ion-view>
