<ion-view hide-nav-bar="true">
  <ion-content has-bouncing="false" scroll="false">
    <div class="bekeff">
      <span class="font-amatic">
        Bekeff Hajshara
      </span>
    </div>
    <div class="logo">
      <img class="logo" src="img/maccabi.png">
    </div>
    <div id="owl-demo" class="owl-carousel owl-theme" ng-click="to('gallery')">
      <div  ng-repeat="item in items" class="owli-item"><img src="{{item.src}}"></div>
    </div>
    <div class="buttons-bekeff">
      <div class="center-buttons row">
        <div class="col-80 col-offset-10">
          <button class="play button icon-left ion-trophy button-positive-900  button-block" ng-click="to('finish')">Juga con nosotros</button>
          <button class="gallery button icon-left ion-images button-positive-900 button-block" ng-click="to('gallery')">Ver galeria</button>
          <button class="youtube button icon-left ion-social-youtube button-positive-900  button-block" ng-click="openYoutube()">Ver canal de youtube</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
