.progress-pie-chart {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #E5E5E5;
  -ms-transform: scale(0.20);
  -webkit-transform: scale(0.20);
  transform: scale(0.20);
  position: absolute;
  right: -115px;
  top: -115px;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  width: 300px;
  height: 300px;
  clip: rect(0, 300px, 300px, 150px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  width: 300px;
  height: 300px;
  clip: rect(0, 150px, 300px, 0);
  background: #81CE97;
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 150px, 300px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 300px, 300px, 150px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 80px;
  font-weight: bold;
  color: #81CE97;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.transform-0{transform: rotate(0deg) !important; -ms-transform: rotate(0deg) !important; -webkit-transform: rotate(0deg) !important }
.transform-36{transform: rotate(36deg) !important; -ms-transform: rotate(36deg) !important; -webkit-transform: rotate(36deg) !important }
.transform-72{transform: rotate(72deg) !important; -ms-transform: rotate(72deg) !important; -webkit-transform: rotate(72deg) !important }
.transform-108{transform: rotate(108deg) !important; -ms-transform: rotate(108deg) !important; -webkit-transform: rotate(108deg) !important }
.transform-144{transform: rotate(144deg) !important; -ms-transform: rotate(144deg) !important; -webkit-transform: rotate(144deg) !important }
.transform-180{transform: rotate(180deg) !important; -ms-transform: rotate(180deg) !important; -webkit-transform: rotate(180deg) !important }
.transform-216{transform: rotate(216deg) !important; -ms-transform: rotate(216deg) !important; -webkit-transform: rotate(216deg) !important }
.transform-252{transform: rotate(252deg) !important; -ms-transform: rotate(252deg) !important; -webkit-transform: rotate(252deg) !important }
.transform-288{transform: rotate(288deg) !important; -ms-transform: rotate(288deg) !important; -webkit-transform: rotate(288deg) !important }
.transform-324{transform: rotate(324deg) !important; -ms-transform: rotate(324deg) !important; -webkit-transform: rotate(324deg) !important }
.transform-360{transform: rotate(360deg) !important; -ms-transform: rotate(360deg) !important; -webkit-transform: rotate(360deg) !important }
