.bar .button, .bar .button.button-flat, .bar .button.button-large, .button, .button.button-flat, .button.button-large{
  box-shadow: none;
}
button{
  box-shadow: 0 0 0 0 !important;
}
.buttons-questions{
  text-align: center;
}
.buttons-questions button{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 96%;
}
.card-position{
  position: fixed;
  left: 15%;
  top: 10%;
  width: 70%;
  height: 100%;
}
.card{
  height: 62% !important;
  background: url('../img/flag.png') no-repeat center;
}
.card-help{
  position: fixed;
  top: 75%;
  height: 30%;
  width: 100%;
  text-align: center;

}
.card-help button{
  margin-bottom: 10px;
  min-width: 300px;
}
.buttons-bekeff .center-buttons{
  text-align: center;
}
.buttons-bekeff .center-buttons button{
  margin: 5px 0;
}
.logo img.logo{
  width: 40%;
}
.logo{
  margin: 2% 0 10% 0;
  text-align: center;
}
.imageView.modal{
  height: 90% !important;
  top: 5%;
}
.font-amatic{
  font-family: 'Amatic SC', cursive;
}
.bekeff{
  text-align: center;
  font-size: 74px;
  color: #FFF;
  padding: 24% 0;
}
.buttons-bekeff{
  position: absolute;
  top: 100%;
}
.scroll-content{
  background: url('../img/texture.png');
  background-size: cover;
}
.default-title{
  display: none !important;
}
