.bar .button, .bar .button.button-flat, .bar .button.button-large, .button, .button.button-flat, .button.button-large{
  box-shadow: none;
}
button{
  box-shadow: 0 0 0 0 !important;
}
.buttons-questions{
  text-align: center;
  position: relative;
  top: 6%;
}
.buttons-questions button{
  max-width: 96%;
}
.card-position{
  position: fixed;
  left: 15%;
  top: 10%;
  width: 70%;
  height: 100%;
}
.card{
  height: 62% !important;
}
