.bar .button, .bar .button.button-flat, .bar .button.button-large, .button, .button.button-flat, .button.button-large{
  box-shadow: none;
}
button{
  box-shadow: 0 0 0 0 !important;
}
.buttons-questions{
  text-align: center;
}
.buttons-questions button{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 96%;
}
.card-position{
  position: fixed;
  left: 15%;
  top: 10%;
  width: 70%;
  height: 100%;
}
.gamecard .card{
  height: 62% !important;
  background: url('../img/flag.png') no-repeat center;
}

.card-help{
  position: fixed;
  top: 80%;
  height: 30%;
  width: 100%;
  text-align: center;

}
.card-help button{
  margin-bottom: 10px;
  min-width: 300px;
}
.buttons-bekeff .center-buttons{
  text-align: center;
}
.buttons-bekeff .center-buttons button{
  margin: 5px 0;
}
.logo img.logo{
  width: 40%;
}
.logo{
  margin: 2% 0 5% 0;
  text-align: center;
}
.font-amatic{
  font-family: 'Amatic SC', cursive;
}
.bekeff{
  text-align: center;
  font-size: 74px;
  color: #FFF;
  padding: 13% 0;
}
.buttons-bekeff{
  position: absolute;
  top: 72%;
}
.scroll-content{
  background: url('../img/texture.png') no-repeat center;
  background-size: cover;
}
.contentNo.scroll-content{
  background: none !important;
}
.scroll-content .slider-slide{
  text-align: center;
}
.scroll-content .slider-slide iframe{
  height: 86%;
  width: 97%;
}
.default-title{
  display: none !important;
}
.finish-data{
  color: #FFF;
  font-size: large;
  text-align: center;
}
.pictureContainer{
  text-align: center;
  padding: 20px;
}
.pictureContainer img{
  text-align: center;
  border-radius: 400px;
  border: 2px solid #FFF;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%);
  }
}
@-moz-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%);
  }
}
@-ms-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%);
  }
}
@keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%);
  }
}
.owli-item{
  overflow: hidden;
}
.owli-item img{
  width: 75px;
  height: 75px;
  padding: 3px;
}
.littlebitofpadding{
  margin-bottom: 10px;
}

.text-black{
  color: #444 !important;
}
.roulette_container img{
  margin: 0px auto;
}
.roulette_container .roulette{
  /*height:87px !important;*/
}
.normal{
  color: #FFF;
  text-align: center;
}
.roulette-inner img {
  border-radius: 100px;
  background-color: #FFF;
}
.roulette_container{
}
.macabi img{
  height: 75px;
  margin: -2px;
}
.macabi img.opaque{
  opacity: 1 !important;
}
.macabi{
  display: block;
  text-align: center
  -ms-transform: scale(0.7,0.7); /* IE 9 */
  -webkit-transform: scale(0.7,0.7); /* Safari */
  transform: scale(0.7,0.7);
}
.player img.image{
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width:50px;
  margin: 20px;
  padding-top: 2px;
}
.player img.image2{
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width:50px;
  margin-left: -20px;
  padding-bottom: 2px;
}

.animateIf.ng-enter, .animateIf.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.animateIf.ng-enter,
.animateIf.ng-leave.ng-leave-active {
  opacity:0;
}

.animateIf.ng-leave,
.animateIf.ng-enter.ng-enter-active {
  opacity:1;
}
.slider-slide .normal{
  margin:0;
}
.realFriends{
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width:50px;
  background-color: #ffd700;
  padding: 2px;
}
#facebookContainer{
  max-height:500px;
  overflow: auto;
}
